
.caja{
    text-align: center;
    background-color: white;
    padding: 100px;
   
    margin: 0 auto;
   
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.ejemploa{
    background-color: pink;
    text-align: left;

}


.ejemplob{
    background-color: orange;
   
    text-align: left;


}

.ejemploc{
    background-color: rgb(230, 204, 208);
border-left: 5px solid purple;
text-align: left;

}

.ejemplod{
    background-color: rgb(230, 204, 208);
    text-align: left;
    border-top: 3px solid rgb(234, 37, 234);
    border-bottom: 3px solid rgb(234, 37, 234);
   

}

