h1{
    font-family: cursive;
}

.ejemplo a{
font-family: fantasy ; 
}


.ejemplo b{
border-left: solid rgb(248, 101, 150) ;
}

.ejemplo c{
border-left: 3px solid pink;
}

.ejemplo d{
border-top: 3px solid pink;
}

